{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if media.providerName == 'sonata.media.provider.youtube' %}
    {% include 'SonataMediaBundle:Provider:view_youtube.html.twig' with {'options': options} %}
{% elseif media.providerName == 'sonata.media.provider.vimeo' %}
    {% include 'SonataMediaBundle:Provider:view_vimeo.html.twig' with {'options': options} %}
{% else %}
    <img {% for name, value in options %}{% if value is not iterable %}{{name}}="{{value}}" {% endif %}{% endfor %} />
{% endif %}