{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


<iframe
    id="{{ options.id }}"
    rel="{{ media.name }}"
    src="//player.vimeo.com/video/{{ media.providerreference }}?{{ options.src }}&origin={{ app.request.schemeAndHttpHost }}"
    width="{{ options.width }}"
    height="{{ options.height }}"
    frameborder="{{ options.frameborder }}"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen>
</iframe>
