{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if options.html5 %}
    <iframe id="video_{{ media.id }}"
            rel="{{ media.name }}"
            width="{{ options.player_parameters.width }}"
            height="{{ options.player_parameters.height }}"
            src="//www.youtube.com/embed/{{ media.providerreference }}?{{ options.player_url_parameters }}&origin={{ app.request.schemeAndHttpHost }}"
            frameborder="{{ options.player_parameters.border }}"
            {% if options.player_parameters.class is defined %} class="{{ options.player_parameters.class }}"{% endif %}
            {% if options.player_parameters.wmode %} wmode="{{ options.player_parameters.wmode }}"{% endif %}
            {% if options.player_parameters.allowFullScreen %} allowfullscreen{% endif %}>
    </iframe>
{% else %}
    {% if options.player_parameters.allowFullScreen %}
        {% set allowFullScreen = "true" %}
    {% else %}
        {% set allowFullScreen = "false" %}
    {% endif %}
    <object width="{{ options.player_parameters.width }}" height="{{ options.player_parameters.height }}">
        <param name="movie" value="//www.youtube.com/v/{{ media.providerreference }}?{{ options.player_url_parameters }}"></param>
        <param name="allowFullScreen" value="{{ allowFullScreen }}"></param>
        <param name="allowscriptaccess" value="{{ options.player_parameters.allowScriptAccess }}"></param>
        <param name="wmode" value="{{ options.player_parameters.wmode}}">

        <embed
            src="//www.youtube.com/v/{{ media.providerreference }}?{{ options.player_url_parameters }}"
            type="application/x-shockwave-flash"
            allowscriptaccess="{{ options.player_parameters.allowScriptAccess }}"
            allowfullscreen="{{ allowFullScreen }}"
            width="{{ options.player_parameters.width }}"
            height="{{ options.player_parameters.height }}"
            wmode="{{options.player_parameters.wmode}}">
        </embed>
    </object>
{% endif %}