{% block sonata_type_date_picker_widget_html %}
    {% if datepicker_use_button %}
        <div class='input-group date' id='dp_{{ id }}'>
    {% endif %}
    {% set attr = attr|merge({'data-date-format': moment_format}) %}
    {{ block('date_widget') }}
    {% if datepicker_use_button %}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
    {% endif %}
{% endblock sonata_type_date_picker_widget_html %}

{% block sonata_type_date_picker_widget %}
    {% spaceless %}
        {% if wrap_fields_with_addons %}
            <div class="form-group">
                {{ block('sonata_type_date_picker_widget_html') }}
            </div>
        {% else %}
            {{ block('sonata_type_date_picker_widget_html') }}
        {% endif %}
        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').datetimepicker({{ dp_options|json_encode|raw }});

                $('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').on('dp.change', function(ev){
                    $(this).data("DateTimePicker").hide();
                });
            });
        </script>
    {% endspaceless %}
{% endblock sonata_type_date_picker_widget %}

{% block sonata_type_datetime_picker_widget_html %}
    {% if datepicker_use_button %}
        <div class='input-group date' id='dtp_{{ id }}'>
    {% endif %}
    {% set attr = attr|merge({'data-date-format': moment_format}) %}
    {{ block('datetime_widget') }}
    {% if datepicker_use_button %}
          <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
    {% endif %}
{% endblock sonata_type_datetime_picker_widget_html %}

{% block sonata_type_datetime_picker_widget %}
    {% spaceless %}
        {% if wrap_fields_with_addons %}
            <div class="form-group">
                {{ block('sonata_type_datetime_picker_widget_html') }}
            </div>
        {% else %}
            {{ block('sonata_type_datetime_picker_widget_html') }}
        {% endif %}
        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').datetimepicker({{ dp_options|json_encode|raw }});

                $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').on('dp.change', function(ev){
                    $(this).data("DateTimePicker").hide();
                });

                $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').on('click', function(ev){
                    $(this).data("DateTimePicker").show(ev);
                });
            });
        </script>
    {% endspaceless %}
{% endblock sonata_type_datetime_picker_widget %}
