{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/applicationsonataadmin/css/customer_admin.css') }}" />
{% endblock %}

 {% block side_bar_after_nav %}
 {% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% include sonata_admin.adminPool.getTemplate('user_block') %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock %}


{% block sonata_page_content_nav %}
    {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                {% block tab_menu_navbar_header %}
                    {% if _navbar_title is not empty %}
                        <div class="navbar-header">
                            <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                        </div>
                    {% endif %}
                {% endblock %}
                <div class="navbar-collapse">
                    <div class="navbar-left">
                        {% if _tab_menu is not empty %}
                            {{ _tab_menu|raw }}
                        {% endif %}
                    </div>

                    {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                        <div class="nav navbar-right btn-group">
                            {% for mode, settings in admin.listModes %}                                                        
                                {% if 'mosaic' != mode %}
                                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% block sonata_admin_content_actions_wrappers %}
                        {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                            <ul class="nav navbar-nav navbar-right">
                            {% if _actions|split('</a>')|length > 2 %}
                                <li class="dropdown sonata-actions">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {{ _actions|raw }}
                                    </ul>
                                </li>
                            {% else %}
                                {{ _actions|raw }}
                            {% endif %}
                            </ul>
                        {% endif %}
                    {% endblock sonata_admin_content_actions_wrappers %}

                    {% if _list_filters_actions is not empty %}
                        {{ _list_filters_actions|raw }}
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock sonata_page_content_nav %}