<div class="container">
    {#<div class="row pt-2 pb-2">#}
        {#<h1 class="section-heading">Наши автомобили</h1>#}
    {#</div>#}

    {% include('@CorporationCore/Services/list_of_services.html.twig') %}
</div>