{% extends '@ApplicationSonataAdmin/standard_layout.html.twig' %}

{% block sonata_top_nav_menu %}{% endblock %}

{% block sonata_page_content_header %}{% endblock %}

{% block sonata_page_content %}
        <section class="content text-center" style="font-size: 20px; margin-top: 5%">
                {% block sonata_admin_content %}
                        The server returned a "{{ status_code }} {{ status_text }}"
                {% endblock %}
        </section>
{% endblock %}