{% extends 'SonataPageBundle::base_layout.html.twig' %}

{# remove header with menu when admin is logged in #}
{% block sonata_page_top_bar %}{% endblock %}

{%- block sonata_page_html_tag -%}
    {{ parent() }}
{% endblock %}

{%- block sonata_page_head -%}
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="RENTeCAR">
        <meta name="author" content="RENTeCAR">
        <meta name="copyright" content="RENTeCAR">
        <meta property="og:locale" content="ru-RU"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://rentecar.by"/>
        <meta property="og:site_name" content="RENTeCAR"/>
        <meta property="og:image" content="http://rentecar.by/image/logo-social.jpg"/>
        <meta property="og:title" content="RENTeCAR"/>
        <meta property='og:description' content='RENTeCAR'/>
        <meta property="business:contact_data:street_address" content="ул. Кукушкина, дом Колотушкина"/>
        <meta property="business:contact_data:locality" content="Минск"/>
        <meta property="business:contact_data:country_name" content="Беларусь"/>
        <meta property="business:contact_data:email" content="info@rentecar.by"/>
        <meta property="business:contact_data:phone_number" content="8-800-555-35-35"/>
        <meta property="business:contact_data:website" content="http://rentecar.by"/>
        <meta name="twitter:card" content="RENTeCAR"/>
        <meta name="twitter:site" content="RENTeCAR"/>
        <meta name="twitter:title" content="RENTeCAR"/>
        <meta name="twitter:description" content="RENTeCAR"/>
        <meta name="twitter:image" content="http://rentecar.by/image/logo-social.jpg"/>
        <meta name="twitter:domain" content="http://rentecar.by"/>

        <meta name="googlebot" content="index, follow">
        <meta name="yandex" content="index, follow"/>
        <meta name="robots" content="index, follow">
        <meta name="robots" content="all">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

        <link rel="icon" type="image/vnd.microsoft.icon" href="http://rentecar.by/favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="http://rentecar.by/favicon.ico"/>
        <link rel="canonical" href="http://rentecar.by/"/>
        <link rel='shortlink' href='http://rentecar.by/'/>

        <meta name="keywords" content="аренда авто"/>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

        <!-- CSS files -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

        <!-- Icons -->
        <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="/favicon.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

        <!-- JS files -->
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

        {% block sonata_page_stylesheets %}
        {% endblock %}

        {% block sonata_page_javascripts %}

            {% if page is defined and  page.routeName == '_page_internal_error_not_found' %}
            {% endif %}
        {% endblock %}
    </head>
{% endblock %}


{% block sonata_page_body_tag %}
<body>
{% endblock %}

{% block sonata_page_container %}
    {% block header %}
        {% include '@CorporationCore/Header/header.html.twig' %}
    {% endblock header %}

    {% block page_content %}
        {% if page is defined %}
            {{ sonata_page_render_container('content', page) }}
        {% endif %}

        {% if content is defined %}
            {{ content|raw }}
        {% endif %}

        {% set anotherContent = block('content') %}
        {% if anotherContent|length > 0 %}
            {{ anotherContent|raw }}
        {% endif %}
    {% endblock %}

    {% block footer_section %}
        {% if app.request.hasPreviousSession %}
            {% set flashMessageTitles = app.session.flashbag.get('newsletter_title') %}
            {% set flashMessages = app.session.flashbag.get('newsletter_message') %}
            {% set flashMessageSuccess = app.session.flashbag.get('newsletter_message_success') %}

            {% if flashMessageTitles is not empty %}
                {% block flashmessage %}
                    {% include '@CorporationCore/flashmessage.html.twig' with {flashMessageTitles: flashMessageTitles, flashMessages: flashMessages, flashMessageSuccess: flashMessageSuccess} %}
                {% endblock flashmessage %}
            {% endif %}
        {% endif %}
        {% block footer %}
            {% include '@CorporationCore/Footer/footer.html.twig' %}
        {% endblock footer %}
    {% endblock %}

    {% block ajax_loader_cube %}
        <div class="sk-folding-cube-overlay">
            <div class="sk-folding-cube" style="position:fixed;top:50%!important;left:50%!important">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    {% endblock ajax_loader_cube %}
{% endblock %}

{% block sonata_page_asset_footer %}
    {% if page is defined %}

        {% if page.javascript is not empty %}
            <script>
                {{ page.javascript|raw }}
            </script>
        {% endif %}

        {% if page.stylesheet is not empty %}
            <style>
                {{ page.stylesheet|raw }}
            </style>
        {% endif %}
    {% endif %}
{% endblock %}