<footer class="page-footer center-on-small-only">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="title">RENTeCAR</h5>
                <p>Аренда авто</p>

                <p>
                    Мы предоставляем лучшие автомобили по выгодным ценам!<br/>
                    Наши специалисты подберут для Вас то, что Вам нужно.
                </p>
            </div>

            <hr class="hidden-md-up">
            <div class="col-md-3">
                <h5 class="title">Адрес</h5>
                <ul>
                    <li>ул. Кукушкина,</li>
                    <li>дом Колотушкина</li>
                    <li>г. Минск, Беларусь</li>
                </ul>
            </div>

            <hr class="hidden-md-up">
            <div class="col-md-3">
                <h5 class="title">Контакты</h5>
                <ul>
                    <li>8-800-555-35-35</li>
                    <li>info@rentecar.by</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container-fluid">
            © {{ date()|date('Y') }}. Аренда автомобилей «RENTeCAR»
        </div>
    </div>

    <!-- Yandex map -->
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A00d31cc1154e9274dde68825a8d9edabaac0a8b8667f61c0ddbff637641602d1&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false">
    </script>
</footer>