{#<h1>  {{ sonata_seo_title}}</h1>#}
{{ sonata_page_render_container('content') }}
{% for article in news %}
<div>{{ article.title }}</div>
<div>{{ article.subtitle }}</div>
<div>{{ article.content|raw }}</div>
<div><img src="{% path article.image, 'portrait' %}" alt="{{ article.title }}"></div>
{% endfor %}
