<div class="container">
    <section class="section">
        <div class="mb-1"></div>
        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% path car.mainPhoto.id, 'carousel' %}" alt="{{ car.make ~ car.model ~ car.year }}">
                </div>

                {% for photo in car.photos %}
                    <div class="carousel-item">
                        <img src="{% path photo.id, 'carousel' %}" alt="{{ car.make ~ car.model ~ car.year }}">
                    </div>
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#carousel-thumb" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-thumb" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <ol class="carousel-indicators">
                <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                    <img src="{% path car.mainPhoto.id, 'preview' %}" class="img-fluid">
                </li>

                {% for photo in car.photos %}
                    <li data-target="#carousel-thumb" data-slide-to="{{ loop.index }}">
                        <img src="{% path photo.id, 'preview' %}" class="img-fluid">
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h1 class="card-title">{{ car.model }}</h1>
                <h4 class="card-title">{{ car.make }}</h4>
                <p class="card-text">{{ car.description }}</p>

                <p class="card-text">Дополнительные опции:</p>
                {% for additionalOption in car.additionalOptions %}
                    <div class="chip">
                        {{ additionalOption }}
                    </div>
                {% endfor %}

                <p class="card-text"><i class="fa fa-calendar"></i> Год выпуска: {{ car.year }}</p>
                <p class="card-text"><i class="fa fa-microchip"></i> Двигатель: {{ car.engine }}</p>
                <p class="card-text"><i class="fa fa-cogs"></i> Трансмиссия: {{ car.transmission }}</p>
                <p class="card-text"><i class="fa fa-adjust"></i> Цвет: <i class="fa fa-square" style="color: {{ car.color }};"></i></p>
            </div>

            <div class="col-md-4">
                <div class="card text-xs-center">
                    <div class="card-header info-color white-text">
                        ВСЕГО
                    </div>
                    <div class="card-block">
                        <h1 style="font-size: 3.5rem; margin-bottom: 0;">{{ car.pricePerDay }}$</h1>
                    </div>
                    <div class="card-footer text-muted info-color white-text">
                        <p>в сутки</p>
                    </div>
                </div>


                <a data-toggle="modal" data-target="#modal-contact" class="btn btn-primary btn-lg btn-block">Арендовать</a>
            </div>
        </div>
    </section>
</div>