<div class="container">
    <section class="section">
        <h1 class="section-heading">Наши автомобили</h1>

        <p class="section-description">
            Мы предоставляем только лучшие автомобили по выгодным ценам!
            В нашем автопарке только свежие автомобили, все они проходят своевременное
            и качественное обслуживание в специализированных сервисных центрах.
        </p>

        <div class="row">
            {% for car in pagination %}
                <div class="col-lg-4 col-md-12 mb-r">
                    <div class="card card-cascade wider" style="display: block;">
                        <div class="view overlay hm-white-slight">
                            <img src="{% path car.mainPhoto.id, 'catalog' %}" class="img-responsive" alt="{{ car.make ~ car.model ~ car.year }}">
                            <a href="{{ path('corporation_car', { 'slug': car.slug }) }}">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <div class="card-block text-xs-center">
                            <a href="{{ path('corporation_car', { 'slug': car.slug }) }}" class="text-muted">
                                <h5>{{ car.make }}</h5>
                            </a>
                            <h4 class="card-title">
                                <strong>
                                    <a href="{{ path('corporation_car', { 'slug': car.slug }) }}">
                                        {{ car.model }}
                                    </a>
                                </strong>
                            </h4>

                            <p class="card-text text-xs-left">
                                Двигатель: {{ car.engine }} <br />
                                Трансмиссия: {{ car.transmission }} <br />
                                Год выпуска: {{ car.year }} <br />
                            </p>

                            <div class="card-footer">
                                <span class="left">{{ car.pricePerDay }}$</span>
                                <span class="right">сутки</span>
                            </div>
                        </div>
                    </div>
                </div>

                {% if loop.index is divisible by(3) %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>