<div class="container">
    <div class="row pt-2 pb-2">
        <h1 class="section-heading">Наши цены</h1>
    </div>

    <ul class="nav nav-tabs tabs-2 teal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Audi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Bentley</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">BMW</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel4" role="tab">Cadillac</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel5" role="tab">Lexus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel6" role="tab">Porsche</a>
        </li>
    </ul>

    <div class="tab-content card">
        <div class="tab-pane fade in active" id="panel1" role="tabpanel">
            <h2 class="section-heading pt-2">
                Audi
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                    <th>Модель</th>
                    <th>Стоимость (за сутки)</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>A8</td>
                        <td><strong>100$</strong></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade in" id="panel2" role="tabpanel">
            <h2 class="section-heading pt-2">
                Audi
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                    <th>Модель</th>
                    <th>Стоимость (за сутки)</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>A8</td>
                        <td><strong>100$</strong></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade in" id="panel3" role="tabpanel">
            <h2 class="section-heading pt-2">
                Audi
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                    <th>Модель</th>
                    <th>Стоимость (за сутки)</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>A8</td>
                        <td><strong>100$</strong></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade in" id="panel4" role="tabpanel">
            <h2 class="section-heading pt-2">
                Audi
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                    <th>Модель</th>
                    <th>Стоимость (за сутки)</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>A8</td>
                        <td><strong>100$</strong></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade in" id="panel5" role="tabpanel">
            <h2 class="section-heading pt-2">
                Audi
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                    <th>Модель</th>
                    <th>Стоимость (за сутки)</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>A8</td>
                        <td><strong>100$</strong></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade in" id="panel6" role="tabpanel">
            <h2 class="section-heading pt-2">
                Audi
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                    <th>Модель</th>
                    <th>Стоимость (за сутки)</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>A8</td>
                        <td><strong>100$</strong></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
