{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block content %}
 {% for log in logs %}
     <a href="{{ path('service_admin_getlog', {'filename': log.name}) }}">{{ log.name }}</a><br />
 {% endfor %}
    <div style="margin-top: 50px">
        <a href="{{ path('service_admin_clearcache') }}"><button type="button" class="btn btn-primary">Clear Cache</button></a>
    </div>
{% endblock %}
