.customer-edit .icheckbox_square-blue.checked.disabled {
    background-position: -168px 0;
}

th.sonata-ba-list-field-header-order-asc a:hover:after,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:after,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:hover:after {
    border-bottom: 4px solid black;
    border-top: 4px solid transparent;
    margin-top: -5px;
}

th.sonata-ba-list-field-header-order-desc a:hover:after,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:after,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:hover:after {
    border-top: 4px solid black;
    border-bottom: 4px solid transparent;
    margin-top: -1px;
}