<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аренда авто | RENTeCAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/bootstrap/bootstrap.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('styles/Select2/select2.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/corporationcore/css/font-awesome.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" media="all" />
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}" media="all">
    {% endblock %}


</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="browser" id="js-allowJavascript">
    <h1>Javascript is required to run this website.</h1>
    <p>Please, turn on Javascript in your browser.</p>
</div>
{% block header %}
    {% include '@CorporationCore/Header/header.html.twig' %}
{% endblock header %}


{% block content %}
{% endblock content %}

{% block footer %}
        {% include '@CorporationCore/Footer/footer.html.twig' %}
{% endblock footer %}


{% block javascripts %}
    <!--script src="scripts/jquery-3.0.0.min.js"></script-->

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="{{ asset('scripts/Bootstrap-3.3.6/bootstrap.min.js') }}"></script>
    <script src="{{ asset('scripts/Select2/select2.min.js') }}"></script>
    <script src="{{ asset('scripts/Slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('scripts/main.js') }}"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript">
        'article aside footer header nav section'.replace(/\w+/g, function (n) {
            document.createElement(n)
        });
    </script>
    <![endif]-->
    <!--[if lt IE 7]>
    <script src="{{ asset('scripts/browser/warning.js') }}"></script>
    <![endif]-->
    <script>
        document.write('<style rel="stylesheet/css">#js-allowJavascript {display: none;}</style>');
    </script>
    <script>
        $(window).load(function() {
            if ($('.fl-success').length) {
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push(
                        {
                            'event': 'pageView',
                            'pagePath': '/newsletter-signup/complete'
                        }
                );
            }
        });
    </script>
{% endblock javascripts %}

{% set flashMessageTitles = app.session.flashbag.get('newsletter_title') %}
{% set flashMessages = app.session.flashbag.get('newsletter_message') %}
{% set flashMessageSuccess = app.session.flashbag.get('newsletter_message_success') %}

{% if flashMessageTitles is not empty %}
    {% block flashmessage %}
        {% include '@CorporationCore/flashmessage.html.twig' with {flashMessageTitles: flashMessageTitles, flashMessages: flashMessages, flashMessageSuccess: flashMessageSuccess}%}
    {% endblock flashmessage %}
{% endif %}

</body>
</html>
