<div class="pb-4"></div>

<div class="container">
    <section class="section mb-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-block">
                        <div class="form-header mdb-color">
                            <h3><i class="fa fa-envelope"></i> Связаться с нами</h3>
                        </div>

                        <p>Мы перезвоним Вам, как только получим Ваше сообщение.</p>
                        <br>

                        {% render(controller('CorporationCoreBundle:Content:ajaxServiceRequest', { 'request': app.request, 'formName': 'service_request_2' })) %}

                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <!-- Yandex map -->
                <div id="map-container"  class="z-depth-1-half map-container" style="height: 400px">
                    <!-- Yandex map -->
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A00d31cc1154e9274dde68825a8d9edabaac0a8b8667f61c0ddbff637641602d1&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false">
                    </script>
                </div>

                <br>
                <div class="row text-xs-center">
                    <div class="col-md-4">
                        <a class="btn-floating btn-small mdb-color"><i class="fa fa-map-marker"></i></a>
                        <p>
                            ул. Кукушкина,<br>
                            дом Колотушкина
                        </p>

                        <p>г. Минск, Беларусь</p>
                    </div>

                    <div class="col-md-4">
                        <a class="btn-floating btn-small mdb-color"><i class="fa fa-phone"></i></a>
                        <p>
                            8-800-555-35-35
                        </p>

                        <p>
                            Пн - Пт, 9:00-21:00<br>
                            Сб, 9:00-15:00
                        </p>
                    </div>

                    <div class="col-md-4">
                        <a class="btn-floating btn-small mdb-color"><i class="fa fa-envelope"></i></a>
                        <p>Email</p>
                        <p>info@rentecar.by</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>