{% if sonata_page.isInlineEditionOn %}
    <div id="cms-block-{{ block.id }}"
         class="cms-block{% if block.hasParent() %} cms-block-element{% endif %}{% block block_class %}{% endblock %}"
        {% if sonata_page.isEditor and block.page is defined %}
            data-id="{{ block.id }}"
            data-name="{{ block.name }}"
            data-role="{% block block_role %}block{% endblock %}"
            data-page-id="{{ block.page.id }}"
        {% endif %}
        >
{% elseif sonata_page.isEditor() %}
<!-- start rendering, block.id: {{ block.id }} - page.id: {% if block.page is defined %}{% else %}no related page{% endif %} - name: {{ block.name }} -->    
{% endif %}

{% block block %}EMPTY CONTENT{% endblock %}

{% if sonata_page.isInlineEditionOn %}
    </div>
{% elseif sonata_page.isEditor() %}
    <!-- end rendering, block.id: {{ block.id }} - page.id: {% if block.page is defined %}{% else %}no related page{% endif %}  - name: {{ block.name }} -->
{% endif %}