<div class="container">
    <div class="row pt-2 pb-2">
        <h1 class="section-heading">Наши специалисты</h1>
    </div>

    <div class="row center-on-small-only">
        <div class="col-lg-6 col-md-12 mb-r">
            <div class="col-md-6 float-left">
                <div class="avatar">
                    <img src="/img/team-1.jpg">
                </div>
            </div>
            <div class="col-md-6 float-right">
                <h4>Sarah Melyah</h4>
                <h5>Front-end Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 mb-r">
            <div class="col-md-6 float-left">
                <div class="avatar">
                    <img src="/img/team-1.jpg">
                </div>
            </div>
            <div class="col-md-6 float-right">
                <h4>Sarah Melyah</h4>
                <h5>Front-end Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>
            </div>
        </div>
    </div>

    <!--<div style="height:50px" class="hidden-md-down"></div>-->

    <div class="row center-on-small-only">
        <div class="col-lg-6 col-md-12 mb-r">
            <div class="col-md-6 float-left">
                <div class="avatar">
                    <img src="/img/team-1.jpg">
                </div>
            </div>
            <div class="col-md-6 float-right">
                <h4>Sarah Melyah</h4>
                <h5>Front-end Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 mb-r">
            <div class="col-md-6 float-left">
                <div class="avatar">
                    <img src="/img/team-1.jpg">
                </div>
            </div>
            <div class="col-md-6 float-right">
                <h4>Sarah Melyah</h4>
                <h5>Front-end Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>
            </div>
        </div>
    </div>
</div>