{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">

        {% for code in groups %}
            {% set form_group = admin.formgroups[code] %}

            <div class="{{ form_group.class | default('col-md-12') }}">
                <div class="{{ form_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ admin.trans(form_group.name, {}, form_group.translation_domain) }}
                        </h4>
                    </div>
                    {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description != false %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}
                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {% if field_name == 'facebookTwitterUrl' %}
                                        <div class="col-md-3">
                                    {% endif %}
                                    {% if field_name == 'answer' %}
                                        <div>
                                            <div>
                                                <label class=" control-label">
                                                    Video Link:
                                                </label>
                                            </div>
                                            <div>
                                                {% if admin.subject.videoLink is not null %}
                                                    {% if admin.subject.videoLink.providerName == 'sonata.media.provider.youtube' %}
                                                        <a target="_blank" href="https://www.youtube.com/watch?v={{ admin.subject.videoLink.providerReference }}">https://www.youtube.com/watch?v={{ admin.subject.videoLink.providerReference }}</a>
                                                    {% else %}
                                                        <a target="_blank" href="https://vimeo.com/{{ admin.subject.videoLink.providerReference }}">https://vimeo.com/{{ admin.subject.videoLink.providerReference }}</a>
                                                    {% endif %}
                                                {% endif %}
                                                <a target="_blank" href="{{ admin.subject.videoLink }}">{{ admin.subject.videoLink }}</a>
                                            </div>
                                        </div>
                                        <br/>
                                        <div>
                                            <div>
                                                <label class=" control-label">
                                                    Participant Photo:
                                                </label>
                                            </div>
                                            <div>
                                                <a target="_blank" href="{% path admin.subject.participantPhotoLink, 'big' %}">
                                                    {% media admin.subject.participantPhotoLink, 'small' %}
                                                </a>
                                            </div>
                                        </div>
                                        <br/>
                                        <div>
                                            <div>
                                                <label class=" control-label">
                                                    Entry Photo:
                                                </label>
                                            </div>
                                            <div>
                                                <a target="_blank" href="{% path admin.subject.entryPhotoLink, 'big' %}">{% media admin.subject.entryPhotoLink, 'small' %}</a>
                                            </div>
                                        </div>
                                        <br/>
                                    {% endif %}


                                    {% if field_name == 'dateOfBirth' %}
                                        </div><div style="width: 38%;" class="col-md-3">
                                    {% endif %}

                                    {{ form_row(form[field_name])}}

                                    {% if field_name == 'lastName' %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endfor %}
                        </div>
                    </div>
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
