{% extends base_template %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">
        <div class="box box-danger">
            <div class="box-header">
                <h4 class="box-title">Generate shared secret</h4>
            </div>
            <div class="box-body">
                {% if data.all_elements %}
                    Generate code for all accounts
                {% else %}
                    {{ 'message_batch_generate_code_confirmation'|trans({}, 'UserAdmin') }}
                {% endif %}
            </div>
            <div class="box-footer clearfix">
                <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST">
                    <input type="hidden" name="confirmation" value="ok">
                    <input type="hidden" name="data" value="{{ data|json_encode }}">
                    <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">

                    <div style="display: none">
                        {{ form_rest(form) }}
                    </div>

                    <button type="submit" class="btn btn-danger">{{ 'btn_execute_batch_action'|trans({}, 'SonataAdminBundle') }}</button>

                    {% if admin.hasRoute('list') and admin.isGranted('LIST') %}
                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                        <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">
                            <i class="fa fa-th-list"></i> {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
