{% extends base_template %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">
        <div class="box box-danger">
            <div class="box-header">
                <h4 class="box-title">Shared secret regeneration</h4>
            </div>
            <div class="box-body">                
                Are you sure you want to re-generate Shared Secret for {{object.__toString}} account?
            </div>
            <div class="box-footer clearfix">
                <form action="{{ admin.generateObjectUrl('generateCode', object) }}" method="POST">
                    <input type="hidden" name="confirmation" value="ok">

                    <button type="submit" class="btn btn-danger">{{ 'btn_execute_batch_action'|trans({}, 'SonataAdminBundle') }}</button>

                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                        <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">
                            <i class="fa fa-th-list"></i> {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
                        </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
