<td class="sonata-ba-list-field sonata-ba-list-field-text">
    <a target="_blank" href="{% path object.participantPhotoLink, 'reference' %}">{% media object.participantPhotoLink, 'admin' %}</a>
</td>