<td style="max-width: 200px; word-wrap: break-word;" class="sonata-ba-list-field sonata-ba-list-field-text">
    <span{% if object.answer|length > 150 %} title="{{ object.answer }}{% endif %}">{{ object.answer|length > 150 ? object.answer|slice(0, 150) ~ '...' : object.answer  }}</span>
</td>