<td class="sonata-ba-list-field sonata-ba-list-field-text">
    {% if object.videoLink is not null %}
        {% if object.videoLink.providerName == 'sonata.media.provider.youtube' %}
            <a target="_blank" href="https://www.youtube.com/watch?v={{ object.videoLink.providerReference }}">https://www.youtube.com/watch?v={{ object.videoLink.providerReference }}</a>
        {% else %}
            <a target="_blank" href="https://vimeo.com/{{ object.videoLink.providerReference }}">https://vimeo.com/{{ object.videoLink.providerReference }}</a>
        {% endif %}
    {% endif %}
</td>