<header>
    <nav class="navbar navbar-light white bg-primary">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarNav1">
            <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <div class="collapse navbar-toggleable-xs" id="navbarNav1">
                <a href="{{ path('corporation_index') }}" class="navbar-brand">
                    <img src="/img/logo.png" alt="" height="37">
                </a>

                {{ sonata_block_render({ 'type': 'corporation_core.block.service.navigation_section', 'settings' : {'extra_cache_keys': ['header']}}, {'template' : '@CorporationCore/Block/block_header_menu.html.twig'}) }}

                {#<ul class="nav navbar-nav">#}
                {#<li class="nav-item active">#}
                {#<a class="nav-link">Home <span class="sr-only">(current)</span></a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                {#<a class="nav-link">Features</a>#}
                {#</li>#}
                {#</ul>#}
                <ul class="nav navbar-nav float-md-right">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modal-contact">
                            Заказать звонок
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Заказать звонок
                </h4>
            </div>


            <div class="modal-body">
                <p>Мы перезвоним Вам, как только получим Ваше сообщение.</p>
                <br>

                {% render(controller('CorporationCoreBundle:Content:ajaxServiceRequest', {'request': app.request, 'formName': 'service_request_1' })) %}

                <div class="text-xs-center">
                    <div class="call">
                        <p>Или вы желаете позвонить? <span class="cf-phone"><i class="fa fa-phone"> 8-800-555-35-35</i></span></p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>