{% extends 'CorporationCoreBundle::layout.html.twig' %}

{% block page_content %}
    {{ sonata_page_render_container('content_top_text') }}
    {{ sonata_page_render_container('content') }}
{% endblock %}

