{% set thumbnailSize = (object.context == 'wysiwyg') ? 'landscape' : 'reference' %}

<script>
    window.parent.CKEDITOR.tools.callFunction({{ app.request.get('CKEditorFuncNum')|escape('js') }}, "{% path object, thumbnailSize|escape('js') %}");
</script>