{{ form_start(service_request_form, { 'name': form_name|default(service_request_form.vars.name), 'action': path('corporation_service_request') }) }}
    <div class="md-form">
        <i class="fa fa-user prefix"></i>
        {{ form_widget(service_request_form.name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(service_request_form.name, 'Ваше имя') }}
    </div>

    <div class="md-form">
        <i class="fa fa-mobile prefix" style="font-size: 3rem;"></i>
        {{ form_widget(service_request_form.phone, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(service_request_form.phone, 'Ваш телефон') }}
    </div>

    <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        {{ form_widget(service_request_form.email, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(service_request_form.email, 'Ваш email') }}
    </div>

    <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        {{ form_widget(service_request_form.message, { 'attr': {'class': 'md-textarea'} }) }}
        {{ form_label(service_request_form.message, 'Ваше сообщение') }}
    </div>

    <div class="text-xs-center">
        <input type="submit" value="Отправить" class="btn btn-ins" />
    </div>
{{ form_end(service_request_form) }}

<script type="text/javascript">
    $('form[name="{{ form_name }}"]').submit(function(e) {
        e.preventDefault();
        var formSerialize = $(this).serialize();
        var url = $(this).attr('action');

        $(this).find('input[type="submit"]').prop('disabled', true);

        $.ajax({
            url: url,
            type: 'POST',
            data: formSerialize,
            success: function (result) {
                toastr['success']('Ваше сообщение доставлено. Спасибо.');

                var thisForm = $('form[name="{{ form_name }}"]');

                thisForm[0].reset();
                thisForm.find('input, textarea').each(function () {
                   $(this).trigger('focusout');
                });

                thisForm.find('input[type="submit"]').prop('disabled', false);
            },
            error: function () {
                toastr['error']('Произошла ошибка при отправке. Пожалуйста, попробуйте позже.');

                $('form[name="{{ form_name }}"]').find('input[type="submit"]').prop('disabled', false);
            }
        });
    });
</script>