{% block subject %}Corporation: Reset Your Password{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
    {{ "admin_resetting_password.content"|trans({'%name%':  user, '%url%':  url('sonata_user_admin_resetting_reset', {'token': user.confirmationToken})  }, "email")|raw }}
{% endblock %}