{{ "admin_account_created.content"|trans({'%firstname%':  user.firstname, '%lastname%':  user.lastname, '%url%':  url('sonata_user_admin_resetting_reset', {'token': confirmationToken})  }, "email")|raw }}