{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/jmaitansonatamediacrop/css/vendor/cropper.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/jmaitansonatamediacrop/js/vendor/cropper.min.js') }}"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                function updateForm(e)
                {
                    $dataX.val(Math.round(e.x));
                    $dataY.val(Math.round(e.y));
                    $dataHeight.val(Math.round(e.height));
                    $dataWidth.val(Math.round(e.width));
                    $dataRotate.val(e.rotate);
                    $dataScaleX.val(e.scaleX);
                    $dataScaleY.val(e.scaleY);
                };

                var $image = $('#image');
                var $dataX = $('#form_x');
                var $dataY = $('#form_y');
                var $dataHeight = $('#form_h');
                var $dataWidth = $('#form_w');
                var $dataRotate = $('#form_r');
                var $dataScaleX = $('#form_scaleX');
                var $dataScaleY = $('#form_scaleY');
                var settings = {{ settings|json_encode|raw }};
                var options = $.extend({
                    preview: '.img-preview',
                    viewMode: 2,
                    crop: function (e) {
                        $dataX.val(Math.round(e.x));
                        $dataY.val(Math.round(e.y));
                        $dataHeight.val(Math.round(e.height));
                        $dataWidth.val(Math.round(e.width));
                        $dataRotate.val(e.rotate);
                        $dataScaleX.val(e.scaleX);
                        $dataScaleY.val(e.scaleY);
                    }
                }, settings);

                $image.cropper(options);

                // Buttons
                if (!$.isFunction(document.createElement('canvas').getContext)) {
                    $('button[data-method="getCroppedCanvas"]').prop('disabled', true);
                }

                if (typeof document.createElement('cropper').style.transition === 'undefined') {
                    $('button[data-method="rotate"]').prop('disabled', true);
                    $('button[data-method="scale"]').prop('disabled', true);
                }


                // Methods
                $('.cropper-buttons').on('click', '[data-method]', function () {
                    var $this = $(this);
                    var data = $this.data();
                    var $target;
                    var result;

                    if ($this.prop('disabled') || $this.hasClass('disabled')) {
                        return;
                    }

                    if ($image.data('cropper') && data.method) {
                        data = $.extend({}, data); // Clone a new one

                        if (typeof data.target !== 'undefined') {
                            $target = $(data.target);

                            if (typeof data.option === 'undefined') {
                                try {
                                    data.option = JSON.parse($target.val());
                                } catch (e) {
                                    console.log(e.message);
                                }
                            }
                        }

                        result = $image.cropper(data.method, data.option, data.secondOption);

                        switch (data.method) {
                            case 'scaleX':
                            case 'scaleY':
                                $(this).data('option', -data.option);
                                break;

                            case 'getCroppedCanvas':
                                if (result) {

                                    // Bootstrap's Modal
                                    $('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                                    if (!$download.hasClass('disabled')) {
                                        $download.attr('href', result.toDataURL('image/jpeg'));
                                    }
                                }

                                break;
                        }

                        if ($.isPlainObject(result) && $target) {
                            try {
                                $target.val(JSON.stringify(result));
                            } catch (e) {
                                console.log(e.message);
                            }
                        }

                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block title %}N
    {% if admin.id(object) is not null %}
        {{ "title_crop"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {#{% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}#}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block content %}
<div class="row">
    {% if object.id %}
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'title.media_preview'|trans({}, 'SonataMediaBundle') }}</h3>
            </div>
            <div class="box-body table-responsive">
                <div class="img-container">
                    {# this is a workaround for CORS-disabled image storages #}
                    <img src="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}" class="img-responsive" id="image" />
                    {#
                    {% media object, 'reference' with {'class': 'img-responsive', 'id': 'image'} %}
                    #}
                </div>
                <div class="cropper-buttons">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
                            <span class="fa fa-arrows"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                                <span class="fa fa-crop"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                            <span class="fa fa-search-plus"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                            <span class="fa fa-search-minus"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                            <span class="fa fa-arrow-left"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                            <span class="fa fa-arrow-right"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                            <span class="fa fa-arrow-up"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                            <span class="fa fa-arrow-down"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                            <span class="fa fa-rotate-left"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                            <span class="fa fa-rotate-right"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                            <span class="fa fa-arrows-h"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
                            <span class="fa fa-arrows-v"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                            <span class="fa fa-check"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="disable" title="Disable">
                            <span class="fa fa-lock"></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="enable" title="Enable">
                            <span class="fa fa-unlock"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                            <span class="fa fa-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% form_theme form with 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}
        {{ form_start(form) }}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Form</h3>
            </div>
            <div class="box-body">
                {{ form_widget(form) }}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">Crop</button>
                <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-default">Cancel</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% endif %}
</div>
{% endblock %}

