<div class="container">
    <div class="row pt-2 pb-2">
        <h1 class="section-heading">
            Отзывы <span class="tag blue">{{ pagination.getTotalItemCount }}</span>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="comments-list text-left">
                {% for testimonial in pagination %}
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-12">
                            <img src="/img/avatars/avatar-{{ random(25) }}.jpg">
                        </div>
                        <div class="col-sm-9 col-md-10 col-12">
                            <a><h3 class="user-name">{{ testimonial.name }}</h3></a>
                            <div class="card-data">
                                <ul>
                                    <li class="comment-date">
                                        <i class="fa fa-clock-o"></i> {{ testimonial.createdAt|date("m/d/Y") }}
                                    </li>
                                </ul>
                            </div>
                            <p class="comment-text">
                                {{ testimonial.text }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <nav>
            {{ knp_pagination_render(pagination, '@CorporationCore/Pagination/material_pagination.html.twig') }}
        </nav>


        <div class="col-md-12">
            <div class="reply-form">
                <h2 class="section-heading">Оставьте ваш отзыв </h2>
                <p class="text-xs-center">Нам важно ваше мнение</p>
                <div class="row">
                    {{ form_start(testimonial_form) }}
                        <div class="col-sm-3 col-md-2 col-12">
                            <img src="/img/avatars/avatar-{{ random(25) }}.jpg">
                        </div>

                        <div class="col-sm-9 col-md-10 col-12">
                            <div class="md-form">
                                {{ form_widget(testimonial_form.name, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_label(testimonial_form.name, 'Ваше имя') }}
                            </div>

                            <div class="md-form">
                                {{ form_widget(testimonial_form.text, { 'attr': {'class': 'md-textarea'} }) }}
                                {{ form_label(testimonial_form.text, 'Ваш отзыв') }}
                            </div>
                        </div>

                        <div class="col-md-12 text-xs-center">
                            <input type="submit" value="Отправить" class="btn btn-primary" />
                        </div>
                    {{ form_end(testimonial_form) }}
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('form[name="{{ testimonial_form.vars.name }}"]').submit(function(e) {
                e.preventDefault();
                var formSerialize = $(this).serialize();
                var url = $(this).attr('action');

                $(this).find('input[type="submit"]').prop('disabled', true);

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formSerialize,
                    success: function (result) {
                        toastr['success']('Ваше сообщение доставлено. Спасибо.');

                        var thisForm = $('form[name="{{ testimonial_form.vars.name }}"]');

                        thisForm[0].reset();
                        thisForm.find('input, textarea').each(function () {
                            $(this).trigger('focusout');
                        });

                        thisForm.find('input[type="submit"]').prop('disabled', false);
                    },
                    error: function () {
                        toastr['error']('Произошла ошибка при отправке. Пожалуйста, попробуйте позже.');

                        $('form[name="{{ testimonial_form.vars.name }}"]').find('input[type="submit"]').prop('disabled', false);
                    }
                });
            });
        </script>
    </div>
</div>
