{% extends '@ApplicationSonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
<div class="login-box" style="width: 430px">
    <div class="login-logo">
        <span>{{ admin_title }}</span>
    </div>
    <div class="login-box-body">

        <form method="POST">
            {% if state == 'error' %}
                <div class="alert alert-danger">{{ 'label_two_step_code_error'|trans({}, 'SonataUserBundle') }}</div>
            {% endif %}

            <label for="code" style="font-size: 15px">{{ 'label_two_step_code'|trans({}, 'SonataUserBundle') }}</label>
            <a href="{{ path('sonata_user_admin_security_logout') }}" class="pull-right">{{ 'security.two_factor.cancel'|trans({}, 'SonataUserBundle') }}</a>
            <div class="form-group">
                <input type="text" id="username" name="_code" class="form-control" autocomplete='off'/>
            </div>
            <span class="help-block sonata-ba-field-help">{{ 'message_two_step_code_help'|trans({}, 'SonataUserBundle') }}</span>

            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary btn-block btn-flat" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


