<div class="sonata-ba-form">
    <form action="" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'settings.label'|trans({}, 'SettingsAdmin') }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="well well-small form-actions">
            <input type="submit" value="{{ 'save_button.label'|trans({}, 'SettingsAdmin') }}" class="btn btn-success"/>
        </div>

    </form>    
</div>