{% block sonata_breadcrumb %}                                
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}" spfieldtype="null" spsourceindex="3">Dashboard</a>
            </li>
            <li class="active"><span>{{ 'settings.label'|trans({}, 'SettingsAdmin') }}</span></li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}


{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block content %}
    {% include 'ApplicationSonataAdminBundle:Admin:_index.html.twig' %}
{% endblock %}
