{% render(controller('CorporationCoreBundle:Cars:cars', {'request': app.request, 'isMainPage': true })) %}

<div class="container">
    <div class="row">
        <a href="{{ path('corporation_cars') }}" class="btn btn-primary btn-lg btn-block" style="margin-top: -3rem;">Просмотреть все</a>
    </div>
</div>