{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        CKEDITOR.on('dialogDefinition', function(ev) {
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;
            var editor = ev.editor;
            var dialog = ev.data.definition.dialog;
            var editLink = "{{ path('admin_sonata_media_media_edit', {'id': 'mediaIdSlug'}) }}";

            if (dialogName == 'image') {
                var info = dialogDefinition.getContents('info');


                info.add({
                    type: 'select',
                    id: 'image-size',
                    label: 'Size',
                    'default': 'full_bleed',
                    items: [
                        ['Full Bleed', 'full_bleed'],
                        ['Landscape', 'landscape'],
                        ['Portrait', 'portrait'],
                        ['Double Portrait', 'double_portrait'],
                        ['Single Portrait', 'single_portrait']
                    ]
                });

                info.add({
                    type: 'html',
                    html: '<a id="image-edit-link" style="font-size: 14px" href="">Edit Image</a>'
                });

                dialogDefinition.onOk = function(e) {
                    var imageSrcUrl = e.sender.originalElement.$.src.replace(/(thumb_)(\d+)(_wysiwyg_)(\w+)/g, "$1$2$3" + dialogDefinition.dialog.getValueOf('info', 'image-size'));
                    var imgHtml = CKEDITOR.dom.element.createFromHtml("<img src=" + imageSrcUrl + " alt='' align='right'/>");

                    editor.insertElement(imgHtml);
                };
            }

            dialog.on('show', function () {
                var $previewImg = $("img[id*='previewImage']");
                console.log($previewImg.attr('src'));

            });

            $(document).on('click', '#image-edit-link', function (e) {
                e.preventDefault();

                var $previewImg = $("img[id*='previewImage']");
                var imageSrc = $previewImg.length && $previewImg.attr('src') ? $previewImg.attr('src') : false;

                if (imageSrc) {
                    var matches = /\/thumb_(\d+)_news/g.exec(imageSrc);
                    var mediaEditLink = editLink.replace('mediaIdSlug', matches[1]);

                    $('#image-edit-link').attr('src', mediaEditLink);

                    window.location.href = mediaEditLink;
                }
            });
        });
    </script>
{% endblock %}
