{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
            {%- set simple = false -%}
            {%- for error in errors -%}
                {%- if error.messageTemplate == 'password.too.simple' -%}
                    {%- set simple = error.message -%}
                {%- else -%}
                    <p>{{ error.message }}</p>
                {%- endif -%}
            {%- endfor -%}
        {%- if simple -%}
            <p>{{ simple }}</p>
        {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}